#include <winver.h>
#include <version.h>
#include <libavutil/avutil.h>
#include <libavcodec/avcodec.h>
#include <libavformat/avformat.h>

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo" 
    {  
        BLOCK "000004b0" // LANG_NEUTRAL,UNICODE_CP
        {
            VALUE "Comments","FFmpeg video converter\000"
            VALUE "FileDescription", "FFmpeg video converter\000"
            VALUE "FileVersion",FFMPEG_VERSION
            VALUE "InternalName", "ffmpeg.exe"
            VALUE "LegalCopyright", "FFmpeg is a trademark of Fabrice Bellard, originator of the FFmpeg project.\000"
            VALUE "OriginalFilename", "ffmpeg.exe\000"
            VALUE "ProductName", "FFmpeg\000"
//            VALUE "ProductVersion", FFMPEG_VERSION
            VALUE "libavutil",  AV_STRINGIFY(LIBAVUTIL_VERSION)
            VALUE "libavcodec", AV_STRINGIFY(LIBAVCODEC_VERSION)
            VALUE "libavformat", AV_STRINGIFY(LIBAVFORMAT_VERSION)
            VALUE "SpecialBuild","WW\000"
        }
    }
    BLOCK "VarFileInfo"  
    {
        VALUE "Translation",0,0x04b0
    }
}

MAIN    ICON DISCARDABLE  "etc/ffmpeg.ico"
